cache/*
content/*
planet4/*
node_modules/*
.p4-env.*.json
.wp-env.*.json
junit.xml
hosts.backup
hosts.windows.backup

!planet4/plugins/
planet4/plugins/*
!planet4/plugins/planet4-plugin-gutenberg-blocks